@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@100&display=swap');
/*----GENERAL TO REUSE ---- */
* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6, span{
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

.h1{
    font-size: 36px;
}

p{
    line-height: 1.5;
    font-size: 16px;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
  }

li{
    list-style-type: none;
}
.flex{
    display: flex;
}

.flex-1{
    flex:1 ;
}
.row{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.text--color{
    color: #bb82e4;
}
a{
    text-decoration: none;
    position: relative;
}
.link__hover-effect:after{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}
.link__hover-effect:hover::after{
    width: 100%;
    left: 0;

}
.link__hover-effect--white::after{
    background-color: #fff;
}
.link__hover-effect--black::after{
    background-color: #000;

}

/* NAVIGATION BAR */
nav{
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;

}

.nav__link--list{
    display: flex;
    align-items: center;
}
.nav__link--anchor{
    margin: 0 12px;
    color: #242424;
    text-decoration: none;
    font-weight: 700;
}
.nav__link--anchor-priminary{
    background-color: #bb82e4;
    border-radius: 50px;
    padding: 8px 20px;
    color: white;
    transition: all 100ms ease;
}
.nav__link--anchor-priminary:hover{
    background-color: #bb74ed;
}
.personal__logo{
    font-size: 24px;
    color: #bb82e4;
    margin: 0 12px;
    font-weight: bold;
}
section:nth-child(even){ /*joka toinen*/
    background-color: #f8f8f8;
}
.section__title{
    margin:20px 0px 20px;
    color: #bb82e4;

}

/*ABOUT ME */

#about-me{
    min-height: 100vh;
    display: flex;
    flex-direction: column; /*allekkain*/
}
.about-me__info{
    display: flex;
    flex-direction: column;
}
.about-me__info--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
    margin: 0 auto;
    text-align: center;

}
.about-me__picture--mask{
    width: 180px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
}

.about-me__picture{
    width: 100%;
}

.about-me__info--title{
    margin-bottom: 15px;
}
.about-me__info--param{
    font-size: 20px;
    margin-bottom: 28px;
    }

.about-me__link{
    font-size: 20px;
    color: #242424;
    text-decoration: none;
    padding: 0 16px; /*updo ja leftright*/

}

.about-me__img--container{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.about-me__img{
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 20% 10%;
    
}

/* ----- SKILLS -----*/
.skills__container {
    margin-top: 20px;
    text-align: center;
  }

.skills__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 20px;
    font-weight: 200;
    padding: 10px 15px;
    margin: 10px 4px;
    border-radius: 10px;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  }
  
  .skills__name {
    margin-left: 10px;
  }

  .skills__bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #bb82e4;
    height: 4px;
    border-radius: 8px;
  }
.skills__html{
    width: 50%;
    
}
.skills__css{
    width: 50%;
    
}
/*----- EDUCATION ---- */
.education__container{
    text-align: center;
}
.education__wrapper{
    display: flex;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(14, 36, 49, 0.3);
    flex-direction: column;

}
.education__list{
    padding-top: 20px;
    padding-bottom: 20px;
}
.education{
    margin-bottom: 50px;
}
.education__description{
    width: 800px;
    display: flex;
    flex-direction:column;
}
.education__description--title{
    font-size: 30px;
}

.params{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 1px 10px 0 10px;
}
/* ----- SKILLS -----*/

/* -----FOOTER----*/

footer{
    background-color: #E4D4F0;
    margin-top: 40px;
}
.footer__logo{
    margin-bottom: 20px;
}

.footer__social--list{
    margin-bottom: 20px;
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}
.footer__row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 0;
}
.footer__logo--img{
    width: 70px;
    height: 70px;
}

/* Smaller screens*/
@media (max-width:768px){
    nav{
        height: 68px;
    }
    h1{
        font-size: 28px;
    }
    .about-me__info--param{
        font-size: 18px;
    }
    .language {
        width: calc(100% / 3);
      }
    
      p{
        font-size: 10px;
      }
    
      .education__wrapper{
        display: flex;

      }
      .education__description {
       display: flex;
       justify-content: center;
      }
      .education__description--title{
       font-size: 14px;
       display: flex;
       justify-content: flex-start;

      }
      .education__description--subtitle{
        font-size: 12px;
        display: flex;
 
       }
      
    }
    